
.back {
  border: 3px solid red;
  width: 600px;
  height: 100px;
  radial-gradient(ellipse at center, rgba(228,245,252,1) 0%,rgba(42,176,237,1) 16%,rgba(42,176,237,1) 16%,rgba(191,232,249,1) 26%,rgba(69,111,164,1) 84%);
}
.back:hover {
  animation: move 1s forwards;
}

@keyframes gradientAnimation{ }