@font-face {
  font-family: flechita;
  src: url(Arrows_tfb.ttf);
}
.eye {
  margin: auto;
  display: block;
}
li {
  border: 2px solid black;
  border-radius: 3px;
  background-color: blueviolet;
  text-decoration: none;
  list-style: none;
  width: 200px;
  text-align: center;
  display: block;
  position: relative;
}
li a {
  text-decoration: none;
  color: rgb(224, 189, 214);
  font-weight: bold;
}

li a:hover {
  transition: 1s;
  color: aliceblue;
}

li:hover {
  background-color: blue;
  transition: 1s;
}
.hasChildren a::after {
  color: aquamarine;
  content: "a";
  font-family: "flechita";
}
.hasChildren ul {
  position: absolute;
  padding: 0;
  top: 0;
}
li.hasChildren ul {
  opacity: 0;
  overflow: hidden;
  max-height: 0px;
  display: block;
  margin-left: 200px;
}
li.hasChildren:hover ul {
  opacity: 1;
  max-height: 800px;
}
