div {
  background-color: pink;
  width: 250px;
  height: 300px;
  transition-property: width;
  transition-duration: all 2s;
}
div:hover {
  background: turquoise;
  width: 500px;
  transition: all 1s;
}
